{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="content-wrapper">
    <h1>Agregar operario <a class="fas fa-fw fa-list-ul" href="{% url 'account:list' %}"></a></h1><br><br>
    <form class="central_container_form needs-validation was-validated" action="{% url 'account:create' %}"
        method="POST">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field }}
                        {% if field.help_text %}<small class="form-text text-muted">{{ field.help_text }}</small>{% endif %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
        <div class="modal-footer">
            <button id="IdAgregar" class="btn btn-primary" type="submit">Agregar</button>
            <a href="{% url 'account:list' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock content %}

{% block js %}
{{ block.super }}
<script src="{% static '/js/sb-admin.min.js' %}"></script>
{% endblock js %}

<!--
    <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label>Nombre</label>
                    <input class="form-control" type="text" name="first_name">
                </div>
            </div>
        </div>
    -->