0{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="content-wrapper">
    <h1>Desea eliminar el contratista:</h1>
    <br>
    <div class="central_container_form">
        <ul class="list-group list-group-flush">
                <li class="list-group-item">Nombre de usuario: {{ object.username }}</li>
                <li class="list-group-item">Nombre: {{ object.first_name }}</li>
                <li class="list-group-item">Apellido: {{ object.last_name }}</li>
                <li class="list-group-item">Correo electronico: {{ object.email }}</li>
                <li class="list-group-item">Admistrador: {{ object.is_staff }}</li>
        </ul>

        <form action="{% url 'account:delete' object.id %}" method="post">
            {% csrf_token %}
            <div class="modal-footer">
                <a href="#EliminarModal-{{ account.id }}" class="btn btn-danger" data-toggle="modal">
                    Eliminar
                </a>                
                <a href="{% url 'account:list' %}" class="btn btn-secondary">Cancelar</a>                
            </div>

            <div class="modal fade" id="EliminarModal-{{ account.id }}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Eliminar el operario: {{ object.first_name }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Si elimina este contrastista sus datos se perderan definitivamente. ¿Esta seguro?</p>
                        </div>
                        <div class="modal-footer">                                
                            <button class="btn btn-danger" type="submit">Eliminar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>
{% endblock content %}

{% block js %}
{{ block.super }}
<script src="{% static '/js/sb-admin.min.js' %}"></script>
{% endblock js %}