{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="content-wrapper">
    <h1>Operarios <a class="fas fa-fw fa-plus-circle" href="{% url 'account:create' %}"></a></h1><br><br>
    <div id="accordion" class="accordion central_container_accordion">
        {% for account in object_list %}
        <div class="card">
            <div class="card-header" id="heading-{{ account.id }}">
                <h5 class="mb-0" data-toggle="collapse" data-target="#collapse-{{ account.id }}" aria-expanded="true"
                    aria-controls="collapse-{{ account.id }}">
                    {{ account.first_name}} {{account.last_name}}
                </h5>
            </div>

            <div id="collapse-{{ account.id }}" class="collapse {% if forloop.first %}show{% endif %}"
                aria-labelledby="heading-{{ account.id }}" data-parent="#accordion">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nombre de usuario: {{ account.username }}</li>
                    <li class="list-group-item">Nombre: {{ account.first_name }}</li>
                    <li class="list-group-item">Apellido: {{ account.last_name }}</li>
                    <li class="list-group-item">Correo electronico: {{ account.email }}</li>
                    <li class="list-group-item">Admistrador: {{ account.is_staff }}</li>
                    
                </ul>
                <div class="card-body">
                    <a href="{% url 'account:update' account.id %}" class="btn btn-primary">Modificar</a>
                    <a href="{% url 'account:delete' account.id %}" class="btn btn-danger">Eliminar</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">No se han encontrado datos.</h1>
                <p class="lead">Verifique haber creado operador o admistrador antes.</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block js %}
{{ block.super }}
{% endblock js %}