{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="content-wrapper">
    <h1>Desea eliminar el tipo de regla:</h1>
    <br>
    <!--<h3 class="blockquote text-center">{{ object.nombre_completo}} {{object.documento_identidad}}</h3>-->
    <div class="central_container_form">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Nombre : {{ penalty.nombre }}</li>
            <li class="list-group-item">Porcentaje valor multa: {{ penalty.porcentaje_valor_multa }}</li>
            <li class="list-group-item">Porcentaje desfase: {{ penalty.porcentaje_desface }}</li>
            <li class="list-group-item">Porcentaje valor desfase: {{ penalty.porcentaje_valor_desface }}</li>
        </ul>

        <form action="{% url 'penalty:delete' object.id %}" method="post">
            {% csrf_token %}
            <div class="modal-footer">
                <a href="#EliminarModal-{{ penalty.id }}" class="btn btn-danger" data-toggle="modal">Eliminar</a> 
                <a href="{% url 'penalty:list' %}" class="btn btn-secondary">Cancelar</a>
            </div>

            <div class="modal fade" id="EliminarModal-{{ penalty.id }}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Eliminar la multa: {{ penalty.nombre}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Si elimina esta multa sus datos se perderan definitivamente. ¿Esta seguro?</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" type="submit">Eliminar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block js %}
{{ block.super }}
<script src="{% static '/js/sb-admin.min.js' %}"></script>
{% endblock js %}