{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id="content-wrapper">
        <h1>Reglas <a class="fas fa-fw fa-plus-circle" href="{% url 'penalty:create' %}"></a></h1><br><br>
        <div id="accordion" class="accordion central_container_accordion">
            {% for penalty in object_list%}
                <div class="card">
                    <div class="card-header" id="heading-{{ penalty.id }}">
                        <h5 class="mb-0"
                            data-toggle="collapse"
                            data-target="#collapse-{{ penalty.id }}"
                            aria-expanded="true"
                            aria-controls="collapse-{{ penalty.id }}">
                            {{ penalty.nombre }}
                        </h5>
                    </div>

                    <div id="collapse-{{ penalty.id }}" class="collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading-{{ contractor.id }}" data-parent="#accordion" >
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Nombre : {{ penalty.nombre }}</li>
                            <li class="list-group-item">Porcentaje valor multa: {{ penalty.porcentaje_valor_multa }}</li>
                            <li class="list-group-item">Porcentaje desfase: {{ penalty.porcentaje_desfase }}</li>
                            <li class="list-group-item">Porcentaje valor desfase: {{ penalty.porcentaje_valor_desfase }}</li>
                        </ul>
                        <div class="card-body">
                            <a href="{% url 'penalty:update' penalty.id %}" 
                                class="btn btn-primary">Modificar</a>
                            <a href="{% url 'penalty:delete' penalty.id %}"
                                class="btn btn-danger">Eliminar</a>                      
                        </div>
                    </div>

                </div>
                
            
            {% empty %}
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">No se han encontrado datos.</h1>
                        <p class="lead">Verifique haber creado una regla antes.</p>
                    </div>
                </div>
            {% endfor%}
        </div>
    </div>
{% endblock content %}

{% block modals %}
    {{ block.super }}
    <div class="modal fade" id="AgreeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="button" >
                <div class="modal-content">

                </div>
            </div>
        </div>
{% endblock modals %}

{% block js %}
    {{ block.super }}
    <script src="{% static '/js/sb-admin.min.js' %}"></script>
{% endblock js %}