{% extends "base.html" %}
{% load static %}

{% block title %}Create {{ block.super }}{% endblock title %}

{% block content %}
    <div id="content-wrapper">
        <h1>Agregar contratista <a class="fas fa-fw fa-list-ul" href="{% url 'contractor:list' %}"></a></h1><br><br>
        <form class="central_container_form needs-validation was-validated" action="{% url 'contractor:create' %}" method="POST">
            {% csrf_token %}
            <!--<div class="">
                <h1 id="exampleModalLabel">Agregar contratista</h1>
            </div>-->
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field }}
                        {% if field.help_text %}<small class="form-text text-muted">{{ field.help_text }}</small>{% endif %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            <div class="modal-footer">
                <button id = "IdAgregar" class="btn btn-primary" type="submit">Agregar</button>
                <a href="{% url 'contractor:list' %}"
                    class="btn btn-secondary">Cancelar</a>
                <!--<a class="btn btn-primary" href="Login.html">Agregar</a>-->
            </div>
        </form>
    </div>
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script src="{% static '/js/sb-admin.min.js' %}"></script>
{% endblock js %}
