{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="content-wrapper">
    <h1>Contratistas <a class="fas fa-fw fa-plus-circle" href="{% url 'contractor:create' %}"></a></h1><br><br>
    <div id="accordion" class="accordion central_container_accordion">
        {% for contractor in object_list %}
        <div class="card">
            <div class="card-header" id="heading-{{ contractor.id }}">
                <h5 class="mb-0" data-toggle="collapse" data-target="#collapse-{{ contractor.id }}" aria-expanded="true"
                    aria-controls="collapse-{{ contractor.id }}">
                    {{ contractor.nombre_completo }}
                </h5>
            </div>

            <div id="collapse-{{ contractor.id }}" class="collapse {% if forloop.first %}show{% endif %}"
                aria-labelledby="heading-{{ contractor.id }}" data-parent="#accordion">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nombre del contratista: {{ contractor.nombre_completo }}</li>
                    <li class="list-group-item">Identificación: {{ contractor.documento_identidad }}</li>
                    <li class="list-group-item">Dirección: {{ contractor.direccion }}</li>
                    <li class="list-group-item">Teléfono: {{ contractor.telefono }}</li>
                </ul>
                {% if request.user.is_staff %}
                <div class="card-body">
                    <a href="{% url 'contractor:update' contractor.id %}" class="btn btn-primary">Modificar</a>
                    <a href="{% url 'contractor:delete' contractor.id %}" class="btn btn-danger">Eliminar</a>
                </div>
                {% endif %}

            </div>
        </div>
        {% empty %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">No se han encontrado datos.</h1>
                <p class="lead">Verifique haber creado un contratista antes.</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block modals %}
{{ block.super }}
<div class="modal fade" id="AgreeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="button">
        <div class="modal-content">

        </div>
    </div>
</div>
{% endblock modals %}

{% block js %}
{{ block.super }}
<script src="{% static '/js/sb-admin.min.js' %}"></script>
{% endblock js %}