{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="content-wrapper">
    <h1>Modificar contratista <a class="fas fa-fw fa-list-ul" href="{% url 'contractor:list' %}"></a></h1><br><br>
    <form class="central_container_form needs-validation was-validatedx"
        action="{% url 'contractor:update' object.id %}" method="POST">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% for error in field.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="modal-footer">
            <a href="#ModificarModal-{{ contractor.id }}" class="btn btn-primary" data-toggle="modal">Modificar</a>
            <a href="{% url 'contractor:list' %}" class="btn btn-secondary">Cancelar</a>
        </div>

        <div class="modal fade" id="ModificarModal-{{ contractor.id }}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modificar el contratista: {{ contractor.primer_nombre}} {{contractor.primer_apellido}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Esta seguro de Modificar este contratista?</p>
                    </div>
                    <div class="modal-footer">                        
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}

{% block js %}
{{ block.super }}
<script src="{% static '/js/sb-admin.min.js' %}"></script>
{% endblock js %}