{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SoftGop</title>
    {% block styles %}
        <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static '/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link href="{% static '/css/general_style/navbar.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static '/css/general_style/container.css' %}" rel="stylesheet" type="text/css"/>
    {% endblock styles %}
</head>
<body>
    <section id="page-top">

        <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
            <a class="navbar-brand" href="{% url 'index' %}">SoftGop</a>
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"></form>
            {% if request.user.is_staff %}
            <p class="text-light">Administrador</p>
            {% endif %}

            {% if not request.user.is_staff %}
            <p class="text-light">Operario</p>
            {% endif %}
            <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Salir</a>
                </div>
            </li>
            </ul>
        </nav>
        <div id="wrapper">
            {% include "components/navbar.html" %}
            {% block content %}

            {% endblock content %}
        </div>

        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </section>

    {% block modals %}
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cerrar Sesión</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">¿Está seguro de cerrar sesión?, para confirmar presione el botón Salir.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        <a class="btn btn-primary" href="{% url 'account:logout' %}">Salir</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock modals %}

    {% block js %}
        <script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% endblock js %}
</body>
</html>
