{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="content-wrapper">
    <br><br><br>
        <h1>Bienvenido a SoftGop </h1><br><br>
        <div class="central_container_form needs-validation was-validated">
            <p>
                SoftGop es un sistema gestor de obras públicas que ayuda a administrar las principales funcionalidades
                a la hora de iniciar una obra. en el podrás controlar los contratistas que se asocian a tu cuenta personal,
                también podrás dirigir los contratos por cada obra, el sistema cuenta con un generador de reportes en los cuales se 
                especificaron los detalles de la obra postiormente creados, Y como principal función administrar las reglas 
                de contrato para así controlar el tiempo de entrega de las obras habilitadas en el sistema
            </p>
        </div>
    </div>
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script src="{% static '/js/sb-admin.min.js' %}"></script>
{% endblock js %}