{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>SoftGop</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    
    {% block styles %}
        <link  href="{% static '/images/icons/favicon.ico' %}" rel="icon" type="image/png"/>

        <link href="{% static '/vendor/bootstrap/css/login/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

        <link href="{% static '/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static '/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}" rel="stylesheet" type="text/css">

        <link href="{% static '/vendor/animate/animate.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static '/vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static '/vendor/animsition/css/animsition.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static '/vendor/select2/select2.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static '/vendor/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css">

        <link href="{% static '/css/login/util.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static '/css/login/main.css' %}" rel="stylesheet" type="text/css">
    {% endblock styles %}
</head>

<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
                <form class="login100-form validate-form" method="POST">
                        {% csrf_token %}
                    <span class="login100-form-title p-b-33">
                        Iniciar sesión
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="username" placeholder="Nombre de usuario">
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>

                    <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="password" placeholder="Contraseña">
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>

                    <div class="container-login100-form-btn m-t-20">
                        <button class="login100-form-btn">
                            Iniciar
                        </button>
                    </div>

                    <!--<div class="text-center p-t-45 p-b-4">
                        <span class="txt1">
                            Olvidó su
                        </span>

                        <a href="#" class="txt2 hov1">
                            Usuario / Contraseña?
                        </a>
                    </div>-->
                </form>
            </div>
        </div>
    </div>


    {% block js %}
        <!--<script src="{% static '/vendor/jquery/jquery.min.js'' %}"></script'>'-->

        <script src="{% static '/vendor/jquery/login/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static '/vendor/animsition/js/animsition.min.js' %}"></script>
        <script src="{% static '/vendor/bootstrap/login/js/popper.js' %}"></script>
        <script src="{% static '/vendor/bootstrap//login/js/bootstrap.min.js' %}"></script>
        <script src="{% static '/vendor/select2/select2.min.js' %}"></script>
        <script src="{% static '/vendor/daterangepicker/moment.min.js' %}"></script>
        <script src="{% static '/vendor/daterangepicker/daterangepicker.js' %}"></script>
        <script src="{% static '/vendor/countdowntime/countdowntime.js' %}"></script>
        <script src="{% static '/js/login/main.js' %}"></script>
    {% endblock js %}
</body>

</html>