<ul class="sidebar navbar-nav">
    {% url 'index' as index %}
    <li class="nav-item {% if request.path == index %}active{% endif %}">
        <a class="nav-link" href="{{ index }}">
            <i class="fas fa-fw fa-home"></i>
            &nbsp; &nbsp;
            <span>Inicio</span>
        </a>
    </li>

    {% url 'contractor:list' as contractor_list %}
    <li class="nav-item {% if request.path == contractor_list %}active{% endif %}">
        <a class="nav-link" href="{{ contractor_list }}">
            <i class="fas fa-fw fa-user-circle"></i>
            &nbsp; &nbsp;
            <span>Contratistas</span>
        </a>
    </li>
    {% if request.user.is_staff %}    
        {% url 'account:list' as account_list %}
        <li class="nav-item {% if request.path == account_list %}active{% endif %}">
            <a class="nav-link" href="{{ account_list }}">
                <i class="fas fa-fw fa-user-circle"></i>
                &nbsp; &nbsp;
                <span>Operarios</span>
            </a>
        </li>
    {% endif %}

    <li class="nav-item {% if 'works' in request.path %}active{% endif %}">
        <div class="dropdown">
            <a class="nav-link">
    
                <i class="fas fa-fw fa-folder"></i>
                <span class="dropbtn">Contratos</span>
                <span class="fas fa-caret-down"></span>
    
                <div class="dropdown-content">
    
                    <a href="{% url 'work:list-vigentes' %}">Contratos al día</a><br>
                    <a href="{% url 'work:list-exprired' %}">Contratos con multas</a><br>
                    <a href="{% url 'work:list-finished' %}">Contratos terminados </a><br>
                    
                </div>
        </div>
    </li>
    
    {% if request.user.is_staff %}
        {% url 'penalty:list' as penalty_list %}
        <li class="nav-item {% if request.path == penalty_list %}active{% endif %}">
            <a class="nav-link" href="{{ penalty_list }}">
            <i class="fas fa-fw fa-chart-area"></i>
            &nbsp; &nbsp;
            <span>Reglas</span></a>
        </li>
    {% endif %}
    
    <!--<li class="nav-item">
        <a class="nav-link" href="#">
        <i class="fas fa-fw fa-table"></i>
        &nbsp; &nbsp;
        <span>Informes</span></a>
    </li>-->
</ul>
