{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id="content-wrapper">
        <h1>Agregar contrato <a class="fas fa-fw fa-list-ul" href="{% url 'work:list-vigentes' %}"></a></h1><br><br>
        <form class="central_container_form needs-validation was-validated" action="{% url 'work:create' %}" method="POST">
            {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}                    
                    <div class="form-group">
                        {{ field }}
                        {% if field.help_text %}<small class="form-text text-muted">{{ field.help_text }}</small>{% endif %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Agregar</button>
                <a href="{% url 'work:list-vigentes' %}"
                    class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script src="{% static '/js/sb-admin.min.js' %}"></script>
     
    <script type="text/javascript">
        function sumar_noches(fecha, noches) {

            if (!(fecha instanceof Date)) {
                fecha = new Date(fecha)
            }

            var cont = 1;
            while ((noches >= cont) && (cont < 365)) {
                fecha.setTime(fecha.getTime() + (86400000));
                if (fecha.getHours() == 1) fecha.setTime(fecha.getTime() - 3600000);
                else if (fecha.getHours() == 23) fecha.setTime(fecha.getTime() + 3600000);
                cont++;
            }
            return fecha;
        }

        $( function() {

            $('#id_fecha_de_inicio').datepicker({
                dateFormat: "yy-mm-dd",
                minDate: new Date(),
                defaultDate: new Date(),
                onSelect: function (date) {
                    $('#id_fecha_de_fin').datepicker('option', 'minDate',  sumar_noches(date, 1));
                }
            });

            $('#id_fecha_de_fin').datepicker({
                dateFormat: "yy-mm-dd",
                onSelect: function (date) {
                    console.log(date)
                }
            });
        });
    </script>

{% endblock js %}