{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="content-wrapper">
    {% url 'work:list-exprired' as url_work %}
    {% if url_work == request.path %}
    <h1>Contratos con multa </h1><br><br>
    {% endif %}

    {% url 'work:list-vigentes' as url_work %}
    {% if url_work == request.path %}
    <h1>Contratos al día<a class="fas fa-fw fa-plus-circle" href="{% url 'work:create' %}"></a></h1><br><br>
    {% endif %}

    {% url 'work:list-finished' as url_work %}
    {% if url_work == request.path %}
    <h1>Contratos finalizados</h1><br><br>
    {% endif %}

    <div id="accordion" class="accordion central_container_accordion">
        {% for work in object_list %}
        <div class="card">
            <div class="card-header" id="heading-{{ work.id }}">
                <h5 class="mb-0" data-toggle="collapse" data-target="#collapse-{{ work.id }}" aria-expanded="true"
                    aria-controls="collapse-{{ work.id }}">
                    {{ work.nombre }}
                </h5>
            </div>

            <div id="collapse-{{ work.id }}" class="collapse {% if forloop.first %}show{% endif %}"
                aria-labelledby="heading-{{ work.id }}" data-parent="#accordion">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nombre de la obra: {{ work.nombre }}</li>
                    <li class="list-group-item">Dirección: {{ work.direccion }}</li>
                    <li class="list-group-item">Tipo de obra: {{ work.tipo }}</li>
                    <li class="list-group-item">Valor: {{ work.valor }}</li>
                    {% if work.multa %}
                    <li class="list-group-item">Multa: {{ work.multa }}</li>
                    {% endif %}
                    {% url 'work:list-finished' as url_work %}
                    {% if url_work == request.path %}
                    <li class="list-group-item">Multa: {{ work.multa }}</li>
                    {% endif %}
                    <li class="list-group-item">Fecha de inicio: {{ work.fecha_de_inicio }}</li>
                    <li class="list-group-item">Fecha de fin: {{ work.fecha_de_fin }}</li>
                    <li class="list-group-item">Estado: {{ work.mostrar_estado }}</li>
                    <li class="list-group-item">Contratista: {{ work.contratista }}</li>
                    <li class="list-group-item">regla: {{ work.reglas }}</li>

                </ul>
                <div class="card-body">
                    {% if request.user.is_staff %}
                        {% url 'work:list-finished' as url_work %}
                        {% if not url_work == request.path %}
                        <a href="#FinalizarModal-{{ work.id }}" class="btn btn-success" data-toggle="modal">
                            Finalizar
                        </a>
                        {% endif %}

                        <a href="{% url 'work:report' work.id %}" class="btn btn-warning">Informe</a>
                        <a href="{% url 'work:update' work.id %}" class="btn btn-primary">Modificar</a>                        

                        {% url 'work:list-finished' as url_work %}
                        {% if not url_work == request.path %}
                        <a href="{% url 'work:delete' work.id %}" class="btn btn-danger">Eliminar</a>
                        {% endif %}
                    {% endif %}
                    

                </div>

            </div>
        </div>

        <div class="modal fade" id="FinalizarModal-{{ work.id }}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Finalizar el contrato: {{ work.nombre }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Nombre de la obra: {{ work.nombre }}</li>
                            <li class="list-group-item">Dirección: {{ work.direccion }}</li>
                            <li class="list-group-item">Tipo de obra: {{ work.tipo }}</li>
                            <li class="list-group-item">Valor: {{ work.valor }}</li>
                            {% if work.total_multa %}
                            <li class="list-group-item">Multa: {{ work.total_multa }}</li>
                            {% endif %}
                            <li class="list-group-item">Fecha de inicio: {{ work.fecha_de_inicio }}</li>
                            <li class="list-group-item">Fecha de fin: {{ work.fecha_de_fin }}</li>
                            <li class="list-group-item">Estado: {{ work.mostrar_estado }}</li>
                            <li class="list-group-item">Contratista: {{ work.contratista }}</li>
                            <li class="list-group-item">regla: {{ work.reglas }}</li>

                        </ul>
                    </div>
                    <div class="modal-footer">
                        <form action="{% url 'work:finish' work.id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="estado" value="false">
                            <button type="submit" class="btn btn-primary">Aceptar</button>
                        </form>

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

        {% empty %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">No se han encontrado datos.</h1>
                <p class="lead">Verifique haber creado la firma de un contrato antes.</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}

{% block js %}
{{ block.super }}
{% endblock js %}