{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="content-wrapper">
    <h1>Modificar contratos <a class="fas fa-fw fa-list-ul" href="{% url 'work:list-vigentes' %}"></a></h1><br><br>
    <form class="central_container_form needs-validation was-validatedx" action="{% url 'work:update' object.id %}"
        method="POST">
        {% csrf_token %}
        <!--<div class="">
                <h1 id="exampleModalLabel">Agregar contratista</h1>
            </div>-->
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
        <div
            class="form-group  {% if field.name == 'fecha_de_inicio' or field.name == 'fecha_de_fin' %}date dp-date{% endif %}">
            {{ field.label_tag }}
            {{ field }}
            {% if field.name == 'fecha_de_inicio' or field.name == 'fecha_de_fin' %}
            <span class="input-group-addon"></span>
            {% endif %}
            {% for error in field.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="modal-footer">
            <a href="#ModificarModal-{{ work.id }}" class="btn btn-primary" data-toggle="modal">
                Modificar
            </a>
            <a href="{% url 'work:list-vigentes' %}" class="btn btn-secondary">Cancelar</a>
        </div>

        <div class="modal fade" id="ModificarModal-{{ work.id }}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modificar el contrato: {{ work.nombre}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Esta seguro de modificar este contrato?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}

{% block js %}
{{ block.super }}
<script src="{% static '/js/sb-admin.min.js' %}"></script>

<script type="text/javascript">
    function sumar_noches(fecha, noches) {

        if (!(fecha instanceof Date)) {
            fecha = new Date(fecha)
        }

        var cont = 1;
        while ((noches >= cont) && (cont < 365)) {
            fecha.setTime(fecha.getTime() + (86400000));
            if (fecha.getHours() == 1) fecha.setTime(fecha.getTime() - 3600000);
            else if (fecha.getHours() == 23) fecha.setTime(fecha.getTime() + 3600000);
            cont++;
        }
        return fecha;
    }

    $(function () {

        $('#id_fecha_de_inicio').datepicker({
            dateFormat: "yy-mm-dd",
            minDate: new Date(),
            defaultDate: new Date(),
            onSelect: function (date) {
                $('#id_fecha_de_fin').datepicker('option', 'minDate', sumar_noches(date, 1));
            }
        });

        $('#id_fecha_de_fin').datepicker({
            dateFormat: "yy-mm-dd",
            onSelect: function (date) {
                console.log(date)
            }
        });
    });
</script>
{% endblock js %}